* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c757d;
  font-family: "Source Sans Pro", sans-serif;
}

div.content {
  vertical-align: middle;
}

section .headline {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header.logo {
  position: relative;
  display: flex;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  display: inline-block;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  margin-left: 40px;
  text-decoration: none;
}

header ul li a:hover {
  color: #27d363;
  text-decoration: underline;
  transition: 0.25s;
}

.about {
  display: flex;
  margin-top: 100px;
}

div.pp {
  flex: 1;
  display: flex;
  align-items: right;
  width: 50%;
  padding-left: 150px;
}

div.pp img {
  border-radius: 50%;
}

div.about-me {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 22px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 1rem;
}

div.about-me h1 {
  margin-bottom: 1.5rem;
  font-size: 38px;
  color: #000;
}

li {
  text-align: -webkit-match-parent;
}

ul.about-info {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 2.5rem;
  box-sizing: border-box;
}
.info {
  display: flex;
}

ul.about-info li {
  list-style: none;
  margin-bottom: 20px;
}

ul.about-info li span:first-child {
  font-weight: 700;
  color: #000;
  width: 130px;
}

ul.about-info li span {
  width: calc(100% - 130px);
}

section.info-tags {
  position: relative;
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
}

.education {
  width: 100%;
  margin-bottom: 7em;
}

.education .heading {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 30px;
  color: #27d363;
}

.resume-wrap {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  display: flex;
}

.circle-icon {
  width: 50px;
  height: 50px;
  background-color: #27d363;
  border-radius: 50%;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
  display: flex;
}

.icon {
  color: white;
  font-size: 28px;
}

.resume-wrap .content {
  width: calc(100%-50px);
  padding-left: 1rem;
  box-sizing: border-box;
}

.resume-wrap .content h2 {
  margin-bottom: 0.5rem;
  font-size: 24px;
  font-weight: 900;
}

.content .date {
  font-weight: 700;
  font-size: 16px;
  color: #27d363;
}

.skills-page {
  width: 100%;
  margin-bottom: 7em;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
}

.col-box {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.progress-wrap {
  width: 100%;
  margin-bottom: 30px;
}

.progress {
  height: 10px;
  background: #e6e6e6;
  overflow: visible;
  display: flex;
  box-shadow: none;
  font-size: 0.75rem;
  border-radius: 0.25rem;
}

.progress-bar {
  width: 90%;
  background: #27d363;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: #000;
  font-weight: 600;
  position: relative;
  overflow: visible;
  border-radius: 2px;
}

.progress-bar span {
  position: absolute;
  top: -38px;
  right: 0;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
